{% block uploading_widget -%}
    {% spaceless %}
        {% if form.vars.data is not empty %}
            {% set filename = form.vars.data.clientOriginalName %}
        {% endif %}

        <div class="input-group">
            <input type="text" data-for="#{{ form.vars.id }}"{% if filename is defined %} value="{{ filename }}"{% endif %} class="form-control input-sm" readonly="readonly" placeholder="No file chosen">

            {% set attr = attr|merge({class: (attr.class|default('') ~ ' file-label-name')|trim}) %}
            {{- block('form_widget_simple') -}}

            <span class="input-group-btn">
                <label class="btn btn-default btn-sm" for="{{ form.vars.id }}">
                    Browse&hellip;
                </label>
            </span>
        </div>
    {% endspaceless %}
{%- endblock %}
