{% extends "@Twig/Exception/excepniot.base.html.twig" %}

{% block title %}{{ "exceptions.500"|trans }} &ndash; Feedback{% endblock %}

{% block body %}
    <h1>500</h1>

    <p>
        {{ "exceptions.500"|trans }} &ndash; Feedback app
    </p>
{% endblock %}
