{% extends "@Twig/Exception/excepniot.base.html.twig" %}

{% block title %}{{ "exceptions.404"|trans }} &ndash; Feedback{% endblock %}

{% block body %}
    <h1>404</h1>

    <p>
        {{ "exceptions.404"|trans }} &ndash; Feedback app
    </p>

    <p>
        <a href="{{ path("homepage") }}">
            {{- "pages.home.go"|trans -}}
        </a>
    </p>
{% endblock %}
