/var/cache/*
/var/logs/*
/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep

/app/config/parameters.yml
/app/config/parameters.ini

/app/bootstrap.php.cache
/var/bootstrap.php.cache
/bin/*
!bin/console
!bin/symfony_requirements
/vendor/

/web/bundles/
/web/css/
/web/fonts/
/web/js/

/app/phpunit.xml
/phpunit.xml

/app/data.db3
/var/*.db3
/var/pictures/*
/var/previews/*
!var/pictures/.gitkeep
!var/previews/.gitkeep
/node_modules
