{% extends "base.html.twig" %}

{% block body %}
    <h2>Login</h2>

    <div class="container">
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}
