{% extends 'base.html.twig' %}

{% block title %}{{ "pages.creating_message"|trans }} &ndash; Feedback{% endblock %}

{% block body %}
    <h1>
        {{ "pages.creating_message"|trans }}
    </h1>

    <div id="create-message-form-container" data-url="{{ path("preview_message_draft") }}">
        {% include "@App/messageCreateForm.html.twig" %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            var form = new MessageForm({
                el: $('#create-message-form-container'),
                messages: {
                    preview: "{{ "js.preview"|trans }}"
                }
            });
        });
    </script>
{% endblock %}
