<div>
    <div class="message-preview">
        <h3>Preview</h3>

        {% include "@App/message.html.twig" %}
    </div>

    <div class="form-group">
        <div class="col-sm-12 text-right">
            <button type="button" class="btn btn-default btn-sm action-message-edit" data-target="#message-form">
                Continue edit
            </button>

            <button type="submit" class="btn btn-primary btn-sm">Create</button>
        </div>
    </div>
</div>
