<div>
    {% spaceless %}
    <div class="message-preview">
        <h3>
            {{- "message.preview"|trans -}}
        </h3>

        {% include "@App/message.html.twig" %}
    </div>
    {% endspaceless %}

    <div class="form-group">
        <div class="col-sm-12 text-right">
            <button type="button" class="btn btn-default btn-sm action-message-edit" data-target="#message-form">
                {{- "form.continue_edit"|trans -}}
            </button>

            <button type="submit" class="btn btn-primary btn-sm" title="{{ "form.create.title"|trans }}">
                {{- "form.create"|trans -}}
            </button>
        </div>
    </div>
</div>
