<div class="message-preview">
    <h3>Preview</h3>

    <table class="table table-condensed">
        <tbody id="messages-container">
            {% include "@App/message.html.twig" %}
        </tbody>
    </table>
</div>
